
/*css/1-Base/reset.css*/

/*1. Box Model Fix*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* 1. Always reserve space for the scrollbar */
    scrollbar-gutter: stable;

    scroll-behavior: smooth;
}


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: var(--bg-primary);
}

::-webkit-scrollbar-thumb{
    background-color: var(--border-subtle);
    border-radius: 10px;
    border: 3px solid var(--bg-primary);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-secondary);
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}


/*2. Media Defaults*/
img, picture, video, svg, canvas {
    max-width: 100%;
    display: block;
}

/*3. Form Inheritance*/
button, input, select, textarea, dialog {
    text-decoration: none;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
}

