/*css/1-base/vars.css*/

:root {

    /*1. Typography Tokens*/

    /*UI Text */
    --font-primary: "Inter", sans-serif;

    /*Headers*/
    --font-display: "Syncopate", sans-serif;


    /*Layout*/
    --container-width: 90rem;
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

    /*2. Color Tokens*/

    /*Backgrounds*/
    --bg-primary: #050505;
    --bg-secondary: #101010;
    --accent: #C084FC;

    /*Border*/
    --border-subtle: rgba(255, 255, 255, 0.1);

    /*Star Color*/
    --star-color: 255, 255, 255;

    /*Text*/
    --text-primary: #F0F0F0;
    --text-secondary: #888888;
    --text-hero: #F0F0F0;


    /*Z- INDEX LAYERS */
    --z-canvas: 1;
    --z-case-modal:3;
    --z-content: 10;
    --z-work-header: 90;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-menu: 2000;
    --z-cursor: 9999;
}

/*@media (prefers-color-scheme: light){*/
/*    :root {*/
/*        --bg-primary: #F0F0F0;*/
/*        --bg-secondary: #FFFFFF;*/

/*        --text-primary: #1A1A1A;*/
/*        --text-secondary: #666666;*/
/*        --text-hero: white;*/

/*        --accent: #7C3AED;*/

/*        --border-subtle: rgba(0, 0, 0, 0.1);*/

/*        !*Star Color*!*/
/*        --star-color: 0, 0, 0;*/
/*    }*/
/*}*/