
/*css/2-layout/footer.css*/

/*Fixed Footer*/
.page-wrapper {
    /* POSITIONING */
    position: relative; /* Keep it in document flow */

    /* LAYERING */
    z-index: 2; /* Must be higher than Footer (1) */
    background-color: var(--bg-secondary); /* Must be opaque (Black) to hide footer */

    /* THE MAGIC TRICK */
    /* We add margin to the bottom equal to the footer height. */
    /* This creates empty space for the user to scroll into. */
    /* As they scroll into this empty space, the wrapper moves up, revealing the fixed footer. */
    margin-block-end: 80vh;

    /* DEPTH */
    /* A shadow creates the illusion that the page is physically above the footer */
    box-shadow: 0 50px 100px color-mix(in srgb, var(--bg-primary) 80% , transparent );
}

.footer {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;

    inline-size: 100%;
    min-block-size: 80vh;

    background-color: var(--bg-secondary);
    z-index: 1;
}

.footer__content {
    position: relative;
    inline-size: 100%;
    inset-block: 100%;

    padding-block: 6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__cta {
    font-size: clamp(3rem, 10cqi, 8rem);
    line-height: 1;
    margin-block-end: 2rem;
    color: var(--text-primary);
}

.footer__btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    inline-size: 12rem;
    block-size: 12rem;
    border-radius: 50%;

    border: 1px solid var(--border-subtle);
    color: var(--text-primary);
    text-transform: uppercase;
    letter-spacing: 1px;

    transition: all 0.3s ease;
}

.footer__btn:hover{
    background-color: var(--text-primary);
    color: var(--bg-primary);
    transform: scale(1.1);
}

.footer__bottom {
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;
    padding-inline: 2rem;

    display: flex;
    justify-content: space-between;

    color: var(--text-secondary);
}

.footer__link{
    margin-inline-start: 2rem;
    transition: color 0.3s ease;
}

.footer__link:hover{
    color: var(--text-primary);
}












