/*css/2-layout/nav.css*/

/*The Fixed Container*/
.nav-trigger {
    position: fixed;

    /*Pin to Top Right*/
    inset-block-start: 2rem;
    inset-inline-end: 2rem;

    z-index: var(--z-modal);

    /*Contrast Management*/
    mix-blend-mode: difference;
}

.nav-trigger__btn {
    font-family: var(--font-primary), sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    /*Colors*/
    color: var(--text-hero);
    cursor: pointer;

    padding: 1rem;

    transition: opacity 0.3s ease;
}


.nav-trigger__btn:hover {
    opacity: 0.7;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: var(--z-modal);

    overscroll-behavior: contain;
    overflow-y: auto;

    padding-block: 3rem;

    background-color: var(--bg-primary);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s step-end;
}

/*Overlay Container*/
.menu-overlay.is-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s step-end;
}

.menu-nav {
    block-size: 100%;
    inline-size: 100%;
}

.menu-grid {
    width: 100%;
    height: 100%;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.menu-item {
    position: relative;
    block-size: 100%;
    overflow: hidden;

    border-right: 1px solid var(--border-subtle);

    container-type: inline-size;
}

.menu-link {


    display: block;
    inline-size: 100%;
    block-size: 100%;

    position: relative;
    text-decoration: none;
}

.menu-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.menu-bg img {
    inline-size: 100%;
    block-size: 100%;

    object-fit: cover;

    filter: grayscale(100%) brightness(50%);

    transition: color 0.5s ease, transform 0.5s ease;
}

.menu-title {
    position: absolute;
    inset-block-end: 0.5rem;
    inset-inline-end: 0.5rem;
    z-index: 1;

    font-family: var(--font-display);
    font-size: clamp(1.5rem, 15cqi, 4rem);
    text-transform: uppercase;
    text-align: right;

    line-height: 2rem;

    transition: color 0.5s ease, transform 0.5s ease;
}

.menu-num {
    display: block;
    font-size: 2rem;
    font-family: var(--font-display);
    color: var(--text-secondary);
}

.menu-item:hover .menu-bg img {

    filter: grayscale(0%) brightness(1);
    transform: scale(1.05);
}

.menu-item:hover .menu-title {
    color: var(--accent);
    transform: translateY(-10px);
}

.menu-item:hover .menu-num {
    color: var(--text-primary);
}

.menu-item__info {
    border-right: none;

    inline-size: 100%;
    block-size: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 1rem;

    container-type: inline-size;
}

.menu-info__content {
    block-size: 100%;
    inline-size: 100%;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu-info__title {
    font-family: var(--font-display);
    font-size: clamp(2rem, 10cqi, 5rem);
    /*font-size: clamp(1rem, 90cqw, 3rem);*/
    line-height: 1;
    color: var(--text-primary);
    margin-block-end: 1rem;
}

.menu-info__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-info__group label {
    font-size: clamp(0.7rem, 4cqi, 1rem);
    text-transform: uppercase;
    color: var(--text-secondary);
    letter-spacing: 1px;

}

.menu-info__group a,
.menu-info__group address {
    block-size: auto;
    font-size: clamp(1rem, 4cqi, 2rem);
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;

    word-break: break-word;
}

.menu-info__group a:hover,
.menu-info__group address:hover {
    color: var(--accent);
}

.menu-info__socials {
    margin-block-start: auto;
    inline-size: 100%;

    display: flex;
}

.menu-info__socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


@media (max-width: 768px) {

    .nav-trigger {
        inset-inline-end: 0.5rem;
        inset-block-start: 0.5rem;
    }

    .menu-overlay {
        overscroll-behavior: none;
        overflow: auto;
        padding: 1rem;
        padding-block-end: 0;
    }

    .menu-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .menu-item__info {
        padding: 0;
        grid-column: 1 / 3;
    }

    .menu-info__title {
        /*font-size: 2rem;*/
        padding-block-start: 1rem;
        margin-block-end: 0;
    }

    .menu-info__content {
        gap: 0;
    }

    .menu-info__group {
        gap: 0;
    }

    .menu-info__socials {
        margin-block-start: 0.5rem;
    }
}

@media (hover: none) {
    .menu-bg img {
        filter: grayscale(0%) brightness(50%);
    }

}















